.externalLink {
    text-align: center;
}

.tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.tag {
    padding: 0.2rem;
}
