<tr class="links-table__body-row">
    <td class="links-table__body-column">
        <a href="{{ source.url }}">
            {{source.title}}
        </a>
    </td>
    <td class="links-table__body-column">
       TODO
    </td>
    <td class="links-table__body-column">
        {% render "star-rating.liquid", rating: source.rating %}
    </td>
</tr>
